# Default ignored files
/shelf/
/workspace.xml
/AppUsageTracker/app_usage_tracker.log
/AppUsageTracker/target/AppUsageTracker-0.0.1-SNAPSHOT.jar
/AppUsageTracker/target/AppUsageTracker-0.0.1-SNAPSHOT.jar.original
/AppUsageTracker/src/main/resources/data/screen_time.db

# Environment-dependent path to Maven home directory
/mavenHomeManager.xml
